.heading {
    position: relative;

    .link {
        margin-left: -1.5rem;
        padding-right: 0.4rem;
        position: absolute;
        visibility: hidden;

        svg {
            height: 1.2rem;
            width: 1.2rem;
        }
    }

    &:hover .link {
        visibility: visible;
    }
}

.p {
    margin-block-start: 1em;
    margin-block-end: 1em;    
    margin-top: 0;
    margin-bottom: 1rem;
}
