.heading {
    position: relative;
}

.heading .link {
    margin-left: -1.5rem;
    padding-right: 0.4rem;
    position: absolute;
    visibility: hidden;

    svg {
        height: 1.2rem;
        width: 1.2rem;
    }
}

.header:hover .link {
    visibility: visible;
}
