.heading {
    align-items: center;
    display: flex;
    position: relative;
}

.heading .link {
    display: flex;
    margin-left: -1.25rem;
    padding: 0.125rem;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.heading .link svg {
    height: 1rem;
    width: 1rem;
}

.heading:hover .link,
.heading .link:focus {
    opacity: 1;
}